---
import Layout from "../layouts/Layout.astro";

import Section from "../components/Section.astro";
import Links from "../components/Links.astro";
import Contact from "../components/Contact.astro";

import { Content as AboutMe } from "../content/about-me.md";
import "../styles/mdContent.css";
---

<Layout>
  <header class="mx-auto py-16 max-w-2xl px-6 lg:px-8">
    <h1 class="text-3xl font-bold mt-12">matype</h1>
    <p class="mt-8">❤️ FOSS & Typography</p>
  </header>
  <main class="mx-auto py-16 max-w-2xl px-6 lg:px-8 mb-12">
    <Section title="Links">
      <Links />
    </Section>
    <Section title="Contact">
      <Contact />
    </Section>
    <Section title="About me" className="leading-8">
      <div class="md-content">
        <AboutMe />
      </div>
    </Section>
  </main>
</Layout>
