---
const contact = [
  {
    name: "Matrix",
    url: "https://matrix.to/#/@matype:matrix.org",
  },
];
---

<ul class="list-disc pl-6 mt-8">
  {
    contact.map((c) => (
      <li class="leading-8">
        <a
          class="text-blue-700 dark:text-lime-400 hover:underline underline-offset-2"
          href={c.url}
          target="_blank"
          rel="noopener"
        >
          {c.name}
        </a>
      </li>
    ))
  }
  <li class="leading-8">Mail: hello [shift+2] matype.xyz</li>
</ul>
