---
const links = [
  {
    name: "0xType",
    url: "https://0xtype.dev",
  },
  {
    name: "GitHub",
    url: "https://github.com/matype",
  },
  {
    name: "Mastodon",
    url: "https://typo.social/@matype",
  },
  {
    name: "X (Twitter)",
    url: "https://x.com/matype_x/",
  },
  {
    name: "Instagram",
    url: "https://www.instagram.com/0xtype/",
  },
];
---

<ul class="list-disc pl-6 mt-8">
  {
    links.map((link) => (
      <li class="leading-8">
        <a
          class="text-blue-700 dark:text-lime-400 hover:underline underline-offset-2"
          href={link.url}
          target="_blank"
          rel="noopener"
        >
          {link.name}
        </a>
      </li>
    ))
  }
</ul>
